@import "../../app.scss";

// Define a mixin for mobile styles
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.portfolio {
  position: relative;
  height: auto;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: 1000;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .itemsSection {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    height: auto;
    overflow-y: auto;

    .wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
      overflow: hidden;

      .imageContainer {
        overflow: hidden;
        flex: 1;
        height: 100%;

        img {
          height: 80vh;
          width: 100%;
          object-fit: cover;
          justify-content: center;
          text-align: center;
          align-items: center;
        }
      }
      .imageContainer img {
        transition: transform 0.3s ease;
      }

      .imageContainer:hover img {
        transform: scale(1.01);
        z-index: 1;
      }
      .textContainer {
        flex: 1;
        padding: 0px 50px 0 40px;

        h2 {
          font-size: 50pt;
          font-family: fantasy;
          padding-bottom: 20px;
        }
        p {
          font-size: 12pt;
          font-family: sans-serif;
          line-height: 1.5;
        }
        button {
          width: 100px;
          height: 40px;
          font-family: "Courier New", Courier, monospace;
          font-size: 13pt;
          background-color: black;
          color: white;
          border: 1px solid white;
          margin: 20px;
          cursor: pointer;
        }
        .roleTitle {
          font-weight: bold;
          margin-right: 5px;
          color: orange;
        }
      }
    }
  }
}
